data/** filter=lfs diff=lfs merge=lfs -text
test_harness_runs/** filter=lfs diff=lfs merge=lfs -text
temp/ filter=lfs diff=lfs merge=lfs -text
temp/estrada_models filter=lfs diff=lfs merge=lfs -text
temp/hamed_models filter=lfs diff=lfs merge=lfs -text
temp/hamed_models/random_forest_regression.py filter=lfs diff=lfs merge=lfs -text
temp/hamed_models/weighted_logistic.py filter=lfs diff=lfs merge=lfs -text
temp/estrada_models/decision_tree_classification.py filter=lfs diff=lfs merge=lfs -text
temp/estrada_models/gbc_classification.py filter=lfs diff=lfs merge=lfs -text
temp/hamed_models/random_forest_classification.py filter=lfs diff=lfs merge=lfs -text
temp/hamed_models/keras_regression.py filter=lfs diff=lfs merge=lfs -text
temp/hamed_models/rocklin_models.py filter=lfs diff=lfs merge=lfs -text
temp/estrada_models/__init__.py filter=lfs diff=lfs merge=lfs -text
temp/estrada_models/__pycache__ filter=lfs diff=lfs merge=lfs -text
temp/hamed_models/keras_classification.py filter=lfs diff=lfs merge=lfs -text
temp/estrada_models/svm_classification.py filter=lfs diff=lfs merge=lfs -text
temp/estrada_models/naive_bayes_classification.py filter=lfs diff=lfs merge=lfs -text
temp/estrada_models/pls_regression.py filter=lfs diff=lfs merge=lfs -text
temp/estrada_models/ridge_regression.py filter=lfs diff=lfs merge=lfs -text
temp/hamed_models/__init__.py filter=lfs diff=lfs merge=lfs -text
temp/hamed_models/__pycache__ filter=lfs diff=lfs merge=lfs -text
temp/hamed_models/joint_regression_model.py filter=lfs diff=lfs merge=lfs -text
temp/estrada_models/gbc_regression.py filter=lfs diff=lfs merge=lfs -text
temp/estrada_models/gmm_classification.py filter=lfs diff=lfs merge=lfs -text
temp/estrada_models/knn_classification.py filter=lfs diff=lfs merge=lfs -text
temp/df_aggregated_spc.csv filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/LinRegressionRosetta.svg filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/helper_functions.pyc filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/tsv_to_df.ipynb filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/Hamed_FN.tsv filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/Pandas[[:space:]]Residue[[:space:]]Entropies.ipynb filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/RandomForestAlgorithm.py filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/jestrada-entropy_to_tsv.ipynb filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/jestrada-Jenkins_Data.ipynb filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/EHEE_probabilities.svg filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/EHEE_scatter.svg filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/stability_scores_tsv.py filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/tsv_to_df.py filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/Complex[[:space:]]Dataframe.ipynb filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/EEHEE_probabilities.svg filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/helper_functions.py filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/stability_scores_csv.py filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/stability_scores_tsv.ipynb filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/Dataframes_Hamed.ipynb filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/EEHEE_scatter.svg filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/RandomForestAlgorithm.pyc filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/jestrada-Add_topologies.ipynb filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/Adding[[:space:]]Configurational[[:space:]]Entropy[[:space:]]to[[:space:]]Rosetta[[:space:]]Descriptors.ipynb filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/Dataframes[[:space:]]by[[:space:]]Topology.ipynb filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/__pycache__ filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/jestrada-Random_Forest_Algorithm.ipynb filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/jestrada-pdb_to_entropy.ipynb filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/stability_scores_csv.ipynb filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/EEHEE_kde.svg filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/Hamed_TN.tsv filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/PandasResidueEntropies.py filter=lfs diff=lfs merge=lfs -text
SD2E_Files/tacc-work/ProgramNotebooks/jestrada-Data_Analysis_and_Visualization.ipynb filter=lfs diff=lfs merge=lfs -text
data/df_aggregated_spc.csv filter=lfs diff=lfs merge=lfs -text
data/heatmap_leaderboard_RF_Rocklin.html filter=lfs diff=lfs merge=lfs -text
data/loo_runs_BOTH.html filter=lfs diff=lfs merge=lfs -text
data/model_audits filter=lfs diff=lfs merge=lfs -text
data/topology_specific_classification_leaderboard.html filter=lfs diff=lfs merge=lfs -text
data/205c@fried.cs.haverford.edu filter=lfs diff=lfs merge=lfs -text
data/cross_val_test_harness_results filter=lfs diff=lfs merge=lfs -text
data/ks_values_EEHEE_Rocklin_ROS.csv filter=lfs diff=lfs merge=lfs -text
data/rosetta_features.csv filter=lfs diff=lfs merge=lfs -text
data/subset_rosetta_features_ROCKLIN.csv filter=lfs diff=lfs merge=lfs -text
data/RS_sub_ROCKLIN_custom_classification_leaderboard.html filter=lfs diff=lfs merge=lfs -text
data/cross_val_test_harness_LONGXING.html filter=lfs diff=lfs merge=lfs -text
data/subset_rosetta_features.csv filter=lfs diff=lfs merge=lfs -text
data/top_specific_Longxing_leaderboard.html filter=lfs diff=lfs merge=lfs -text
data/cross_val_test_harness_ROCKLIN.html filter=lfs diff=lfs merge=lfs -text
data/h205c@fried.cs.haverford.edu filter=lfs diff=lfs merge=lfs -text
data/loo_detailed_regression_leaderboard.html filter=lfs diff=lfs merge=lfs -text
data/rocklin_pred_longxing_results.html filter=lfs diff=lfs merge=lfs -text
data/rs_sub_results_ROCKLIN.csv filter=lfs diff=lfs merge=lfs -text
data/test_harness_results filter=lfs diff=lfs merge=lfs -text
data/topology_specified_classification_leaderboard.html filter=lfs diff=lfs merge=lfs -text
data/entropy_features.csv filter=lfs diff=lfs merge=lfs -text
data/heatmap_leaderboard.html filter=lfs diff=lfs merge=lfs -text
data/ks_values_EEHEE_Rocklin_SPC.csv filter=lfs diff=lfs merge=lfs -text
data/loo_detailed_classification_leaderboard.html filter=lfs diff=lfs merge=lfs -text
data/top_specific_Rocklin_leaderboard.html filter=lfs diff=lfs merge=lfs -text
data/cross_val_test_harness_RocklinLongxing.html filter=lfs diff=lfs merge=lfs -text
data/kFeatureSets.csv filter=lfs diff=lfs merge=lfs -text
data/topology_specified_regression_leaderboard.html filter=lfs diff=lfs merge=lfs -text
data/DownselectedScores.csv filter=lfs diff=lfs merge=lfs -text
data/loo_run_LONGXING.html filter=lfs diff=lfs merge=lfs -text
data/random_forest_cross_val_ROCKLIN.html filter=lfs diff=lfs merge=lfs -text
data/RS_sub_custom_classification_leaderboard.html filter=lfs diff=lfs merge=lfs -text
data/cross_val_tptn_classification_leaderboard.html filter=lfs diff=lfs merge=lfs -text
data/TestHarness filter=lfs diff=lfs merge=lfs -text
data/kFeatureSets_ROCKLIN.csv filter=lfs diff=lfs merge=lfs -text
data/loo_runs_ROCKLIN.html filter=lfs diff=lfs merge=lfs -text
data/rs_sub_results.csv filter=lfs diff=lfs merge=lfs -text
data/top_specific_rocklin_pred_longxing_leaderboard.html filter=lfs diff=lfs merge=lfs -text
data/EEHEE_rd2_0380.pdb filter=lfs diff=lfs merge=lfs -text
data/LassoCoeffs.csv filter=lfs diff=lfs merge=lfs -text
